html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  max-width: 900px;
  margin: auto;
  text-align: center;
  color: #293c4b;
  font-size: 30px;
  padding-top: 40px;
  padding-bottom: 100px;
  counter-reset: year;
  line-height: 1.2;
}

body,
* {
  font-family: "Cutive Mono", monospace;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

.calendar {
  padding-top: 60px;
  padding-left: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar__year {
  margin-bottom: 10px;
  display: flex;
  position: relative;
}

.calendar__year::before {
  position: absolute;
  left: -20px;
  font-size: 10px;
  counter-increment: year;
  content: counter(year);
}

.count-weeks {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.count-weeks--visible {
  opacity: 1;
}
  
.calendar__week {
  width: 11px;
  height: 11px;
  border: 1px solid #2c3e50;
  margin-right: 6px;
  position: relative;
}

.calendar__week--filled {
  border-color: transparent;
}

.calendar__week::after {
  position: absolute;
  background: #2c3e50;
  opacity: 0;
  width: 6px;
  height: 6px;
  content: " ";
  left: 50%;
  top: 50%;
  /* will-change: opacity;   
    transition: opacity 0.3s ease-in-out; */
  transform: translate(-50%, -50%);
}

.calendar__week.calendar__week--filled::after {
  opacity: 1;
}

calendar__week::last-child {
  margin-right: 0;
}

.input {
  font-size: 30px;
  display: inline-block;
  border: none;
  outline: none;
  border-bottom: 2px solid #2c3e50;
  padding: 0;
  margin: 0;
  position: relative;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #2c3e50;
  opacity: 0.3; /* Firefox */
}

.input--year {
  width: 74px;
}

.input--day {
  width: 37px;
}

.dropdown {
  font-size: 30px;
  display: inline-block;
  position: relative;
  outline: none;
  cursor: pointer;
  border-bottom: 2px solid #2c3e50;
}

.dropdown__panel {
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  border: none;
  border-radius: 0;
  font-size: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  transition: opacity 0.3s linear;
  transition: all 0.3s linear;
  /* border-left: 1px solid #2c3e50;
  border-right: 1px solid #2c3e50; */
}

.dropdown__title {
  opacity: 0.3;
}
.dropdown__title--selected {
  opacity: 1;
}

.dropdown__panel--visible {
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: left;
  transition: opacity 0.3s linear;
}

.dropdown__item {
  font-size: 24px;
  cursor: pointer;
  padding: 0 20px;
  margin-bottom: 2px;
  background: #2c3e50;
  color: white;
}

.dropdown__item:hover {
  font-weight: bold;
  transform: scale(1.05);
}
